@using WebApp.Models
@Model Proyector
@{
    ViewData["Title"] = "Inicio";
}

<div class="container">
    <div class ="text-start">
        <h1 class="display-4">Información de proyectores</h1>
        <h2 class="display-6">Proyector # @Model.Id</h2>
        <p>Marca: @Model.Marca</p>
        <p>Modelo: @Model.Modelo</p>
        <p>Número de serie: @Model.NumeroDeSerie</p>
        <p>Situación: @Model.Situacion</p>
        <p>Fecha de alta: @Model.FechaDeAlta.ToString("d")</p>
    </div>
</div>
